<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments.html::head"></head>
<body>
<!-- page header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12
                  col-md-12">
        <div id="heading_container">
          <h1 id="heading">// yoshuaNahar</h1>
          <h3 id="sub_heading">Go easy on your future self</h3>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- main content -->
<div class="container">
  <div class="row">
    <div class="col-lg-9
                col-md-9
                col-sm-12
                col-xs-12
                postlist-container">
      <div th:each="post : ${published_posts}">
        <div class="article_intro">
          <a class="article_intro_link" th:href="${post.uri}" href="#">
            <h2 th:text="${post.title}">title</h2>
            <div class="article_content" th:utext="${post.body}">
              body
            </div>
            <p class="article_intro_footer">
              <span th:text="${#dates.format(post.date,'dd MMMM yyyy')}">date></span> |
              Tags: <span th:each="tag : ${post.tags}"> <span th:text="${tag}">tag</span> </span></p>
          </a>
        </div>
        <hr>
      </div>
      <!-- pagination -->
      <nav id="blog_pagination" style="display: none">
        <a th:href="${content.rootpath+config.archive_file}" href="#">
          <!-- Should this be archive_file or just the next list of content from the post array -->
          <button type="button" class="btn btn-light">
            Older Posts →
          </button>
        </a>
      </nav>
    </div>
    <!-- sidebar container -->
    <div class="col-lg-3
                col-md-3
                col-sm-12
                col-xs-12
                sidebar-container">
      <aside>
        <hr class="hidden-sm
                   hidden-xs">
        <section id="about" class="mb-3 bg-light rounded">
          <h5>About me!</h5>
          <img id="about_picture" th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')" th:src="${rootpath}+'/img/about-me.jpg'"
               alt="Picture of Me"/>
          <p>Hi, I'm a <span id="age">age</span> year old CS student, living and working in the Netherlands.
            I strive to keep up to date with the Java backend scene and if there is time left the frontend JavaScript/Angular scene.
            To relax I enjoy playing badminton, cooking and working out (not necessarily at the same time).</p>
        </section>
        <div style="display: none">
          <!-- remove this div in the future -->
          <hr class="hidden-sm
                     hidden-xs">
          <section id="tags">
            <h5>TAGS</h5>
            <div id="tags_container">
              <ul>
                <li>
                  <a th:href="${content.rootpath+config.tags_file}" href="#" title="Java">Java</a>
                </li>
                <li>
                  <a th:href="${content.rootpath+config.tags_file}" href="#" title="Spring">Spring</a>
                </li>
              </ul>
            </div>
          </section>
          <hr class="hidden-sm
                     hidden-xs">
          <section id="years">
            <h5>Years</h5>
            <div id="years_container">
              <ul>
                <li>
                  <a th:href="${content.rootpath+config.archive_file}" title="2019">2019</a>
                </li>
                <li>
                  <a th:href="${content.rootpath+config.archive_file}" title="2018">2018</a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </aside>
    </div>
  </div>
</div>
<!-- footer -->
<footer th:replace="fragments.html::footer"></footer>
</body>
</html>
